.auth-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  color: white;
  background-color: #fe2f67;
  background: linear-gradient(
    240.82deg,
    #ff9a58 -0.07%,
    #fe2f67 54.53%,
    #7431d7 116.25%
  );
}

.auth-layout__header {
  margin: 0;
  margin-bottom: 32px;
  font-size: 32px;
  line-height: var(--header-line-height);
}

.auth-layout .auth-layout__inner {
  display: flex;
  flex-direction: column;
}

@media (min-width: 48em) {
  .auth-layout .auth-layout__inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 348px;
  }
}
