:root {
  /* Font variables */
  --base-font-size: 1em;
  --base-line-height: 1.5;
  --header-line-height: 1.25;

  /* Color variables */
  --primary-color: rgb(40, 42, 54);
  --secondary-color: rgb(252, 249, 241);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-weight: 300;
  word-wrap: break-word;
  color: var(--primary-color);
  text-rendering: optimizeSpeed;
  background-color: white;
}

#root {
  min-height: 100vh;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: 4%;
  margin-right: 4%;
}

@media (min-width: 64em) {
  .container {
    margin-left: 8%;
    margin-right: 8%;
  }
}

@media (min-width: 85.375em) {
  .container {
    margin-left: 12%;
    margin-right: 12%;
  }
}

@media (min-width: 120em) {
  .container {
    margin-left: 18%;
    margin-right: 18%;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
